<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fake Bank</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="toolbar">
        <div>
            <img class="logo" src="~/favicon.ico" />
            <a class="app-title" asp-controller="Home" asp-action="Index">Fake Bank</a>
        </div>
        <div class="menu-toolbar">
            @if (User.Identity.IsAuthenticated)
            {    
                @if(User.IsInRole("1"))
                {
                    <a asp-controller="Simulation" asp-action="List">Simulações</a>
                }
                else
                {
                    <a asp-controller="Simulation" asp-action="Index">Simulador</a>
                }
            }
            else
            {
                <a asp-controller="Contact" asp-action="Index">Contato</a>
            }
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <span class="logged-name">@User.Identity.Name</span>
            <a class="btn" asp-controller="Home" asp-action="Logout">Sair</a>
        }
        else
        {
            <form asp-controller="Home" asp-action="Login" class="login-form">
                <input class="form-input" name="email" placeholder="Email">
                <input class="form-input" type="password" name="password" placeholder="Senha">
                <button class="btn">Entrar</button>
            </form>
        }
    </header>
    <div class="root-card">
        @RenderBody()
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>