@model Site.Models.ContactModel

<div>
    <h3>Contato</h3>
     <form asp-action="SendMail" style="margin-top:20px;display: flex;flex-direction: column;">
        Nome: <input class="form-input lg" asp-for="Name" /><br />
        Email: <input class="form-input lg" asp-for="Email" /><br />
        Mensagem: <textarea asp-for="Message"></textarea><br />
        <button style="margin-top:20px" class="btn">Enviar</button>
    </form> 
</div>