<div>
    <h3 class="page-title">Confira qual o valor de crédito que você possui conosco.</h3>
    <form asp-action="Login" class="form-simulation">
        <span>Descrição da produto:</span>
        <input class="form-input" name="Description">

        <span>Valor total:</span>
        <input class="form-input" name="Amount">

        <span>Quantidade de parcelas:</span>
        <input class="form-input" name="Plots">
        
        <div style="text-align: center">
            <button class="btn btn-simulation">Simular</button>
        </div>
    </form>
</div>