@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="page-title">Bem vindo!</h1>

    <div style="margin-top:20px; max-width:500px">
        Entre em <a asp-controller="Contact">Contato</a> conosco solicitando seu cadastro informando seus dados e aproveite nosso crédito financiado.
    </div>
</div>